<!DOCTYPE html>
<html lang="en">
<head>
  <title>CS:GO Skin Tester</title>
  <meta name="description" content="Test any CS:GO skin in-game on a CS:GO community server. You can equip the skin, walk around with it, and inspect it in the actual game environment." />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
  <link rel="manifest" href="site.webmanifest">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  <link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.4.6/tailwind.min.css" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js"></script>

  <style>
    [v-cloak] {
      display: none;
    }

    .fade-enter-active, .fade-leave-active {
      transition: opacity .5s;
    }

    .fade-enter, .fade-leave-to {
      opacity: 0;
    }

    .loader {
      border-top-color: transparent;
      -webkit-animation: spinner 0.8s linear infinite;
      animation: spinner 0.8s linear infinite;
    }

    @-webkit-keyframes spinner {
      0% {
        -webkit-transform: rotate(0deg);
      }
      100% {
        -webkit-transform: rotate(360deg);
      }
    }

    @keyframes spinner {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  </style>
</head>

<body class="bg-gray-900 text-white">
<div id="app" v-cloak>
  <div class="absolute top-0 right-0 flex justify-start items-center text-gray-500 p-4">
    <a class="block flex items-center hover:text-white mr-5" href="https://github.com/chescos/csgo-skin-tester-frontend"
       target="_blank">
      <svg class="fill-current w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><title>GitHub</title>
        <path
          d="M10 0a10 10 0 0 0-3.16 19.49c.5.1.68-.22.68-.48l-.01-1.7c-2.78.6-3.37-1.34-3.37-1.34-.46-1.16-1.11-1.47-1.11-1.47-.9-.62.07-.6.07-.6 1 .07 1.53 1.03 1.53 1.03.9 1.52 2.34 1.08 2.91.83.1-.65.35-1.09.63-1.34-2.22-.25-4.55-1.11-4.55-4.94 0-1.1.39-1.99 1.03-2.69a3.6 3.6 0 0 1 .1-2.64s.84-.27 2.75 1.02a9.58 9.58 0 0 1 5 0c1.91-1.3 2.75-1.02 2.75-1.02.55 1.37.2 2.4.1 2.64.64.7 1.03 1.6 1.03 2.69 0 3.84-2.34 4.68-4.57 4.93.36.31.68.92.68 1.85l-.01 2.75c0 .26.18.58.69.48A10 10 0 0 0 10 0"></path>
      </svg>
      <span class="ml-2">GitHub</span>
    </a>
  </div>

  <div class="flex h-screen">
    <div class="m-auto w-full max-w-lg">
      <form class="bg-gray-800 shadow-md rounded p-12">
        <div class="mb-4">
          <label class="block text-sm font-bold mb-2" for="inspect_link">
            Inspect Link
          </label>
          <input v-model="link"
                 class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                 id="inspect_link" type="text" placeholder="Paste your inspect link...">
        </div>
        <div class="flex items-center justify-between">
          <button v-on:click="inspectLink"
                  v-bind:class="{ 'cursor-not-allowed': isLoading, 'opacity-50': isLoading }"
                  class="inline-flex items-center bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                  type="button" :disabled="isLoading">

            <div v-if="isLoading" class="loader ease-linear rounded-full border-2 border-gray-200 h-4 w-4 mr-3"></div>
            <span>Test Skin In-Game</span>
          </button>
        </div>
      </form>
    </div>
  </div>

  <transition name="fade">
    <div v-if="notification !== null"
         class="absolute bottom-0 left-0 right-0 bg-blue-800 border-t-4 border-blue-500 rounded-b text-white px-4 py-3 shadow-md"
         role="alert">
      <div class="flex">
        <div class="py-1">
          <svg class="fill-current h-6 w-6 text-blue-200 mr-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
            <path
              d="M2.93 17.07A10 10 0 1 1 17.07 2.93 10 10 0 0 1 2.93 17.07zm12.73-1.41A8 8 0 1 0 4.34 4.34a8 8 0 0 0 11.32 11.32zM9 11V9h2v6H9v-4zm0-6h2v2H9V5z"/>
          </svg>
        </div>
        <div>
          <p class="font-bold">{{ notification.title }}</p>
          <p class="text-sm">{{ notification.message }}</p>
        </div>
      </div>
    </div>
  </transition>
</div>

<script>
  const app = new Vue({
    el: '#app',
    data: {
      link: '',
      notification: null,
      isLoading: false,
    },
    methods: {
      inspectLink: function (event) {
        if (this.isLoading) {
          return;
        }

        this.clearNotification();

        const inspectLinkRegex = /^steam:\/\/rungame\/730\/(?:[0-9]+)\/\+csgo_econ_action_preview/;

        if (!inspectLinkRegex.test(this.link)) {
          this.createNotification(
            'Invalid Inspect Link',
            'Please enter a valid CS:GO inspect link.',
            false,
          );

          return;
        }

        this.isLoading = true;

        fetch('https://api.csgoskins.gg/inspect-links', {
          method: 'POST',
          headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({
            link: this.link,
          }),
        })
          .then((res) => res.json())
          .then((res) => {
            console.log(res);
            this.isLoading = false;

            if (res.success) {
              if (res.needs_to_connect) {
                window.location = res.connect_to_url;

                this.createNotification(
                  'Skin Sent',
                  'The skin has been sent to the CS:GO test server, please connect.',
                  false,
                );
              } else {
                this.createNotification(
                  'Skin Equipped',
                  'You have been equipped with the selected skin in the CS:GO test server.',
                  false,
                );
              }
            } else {
              this.createNotification(
                'Request Failed',
                res.message,
                true,
              );
            }
          })
          .catch((error) => {
            console.log(error);
            this.isLoading = false;

            this.createNotification(
              'Request Failed',
              'Something went wrong, please try again.',
              true,
            );
          });
      },

      createNotification(title, message, isError = false) {
        this.notification = {
          title,
          message,
          isError,
        };
      },

      clearNotification() {
        this.notification = null;
      }
    }
  })
</script>
</body>
</html>
