@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    overflow-y: scroll;
}

[v-cloak] {
    display: none;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}

.fade-enter, .fade-leave-to {
    opacity: 0;
}

.loader {
    border-top-color: transparent;
    -webkit-animation: spinner 0.8s linear infinite;
    animation: spinner 0.8s linear infinite;
}

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.fade-enter-active {
    transition: opacity .3s;
}

.fade-leave-active {
    transition: none;
}

.fade-enter, .fade-leave-to {
    opacity: 0;
}

.toggle__dot {
    top: -.25rem;
    left: -.25rem;
    transition: all 0.3s ease-in-out;
}
input:checked ~ .toggle__dot {
    transform: translateX(100%);
    background-color: #2b6cb0;
}
